[Desktop Entry]
Version=1.0
Name=XiTerm
Comment=Terminal Emulator
GenericName=Terminal Emulator
Exec=xiterm
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
